.slideShow {
  position: relative;
  width: 85%;
  height: 415px;
  margin: auto;
  margin-bottom: 30px;
}

.slideShow_img {
  width: 100%;
  height: 415px;
  border-radius: 25px;
}

.slideShow_img img {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}

.chevron_left {
  position: absolute;
  left: 10px;
  top: 40%;
  cursor: pointer;
}

.chevron_right {
  position: absolute;
  right: 10px;
  top: 40%;
  cursor: pointer;
}

.chevron_none {
  opacity: 0;
}

.slideShow_number {
  position: absolute;
  font-size: 18px;
  left: 48.95%;
  bottom: 6.01%;
}

.slideShow_number_none {
  opacity: 0;
}

@media (min-width: 481px) and (max-width: 769px) {
  .slideShow {
    height: 290px;
  }
  .slideShow_img {
    height: 290px;
  }

  .slideShow_img img {
    height: 290px;
    border-radius: 10px;
  }
  .chevron_left {
    position: absolute;
    left: 5px;
    top: 45%;
    width: 10%;
  }

  .chevron_right {
    position: absolute;
    right: 5px;
    top: 45%;
    width: 10%;
  }
}

@media (max-width: 480px) {
  .slideShow {
    height: 255px;
  }
  .slideShow_img {
    height: 255px;
    border-radius: 10px;
  }

  .slideShow_img img {
    height: 255px;
    border-radius: 10px;
  }
  .chevron_left {
    position: absolute;
    left: 5px;
    top: 45%;
    width: 6%;
  }

  .chevron_right {
    position: absolute;
    right: 5px;
    top: 45%;
    width: 6%;
  }
  .slideShow_number {
    opacity: 0;
  }
}

